body {
    background: linear-gradient(to bottom, #9370db, #9370db, #ff00ff, #FEB1BF, #FEDCD2);
    height: 125vh;
}

.gridcontainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit);
    grid-template-rows: repeat(4, 1fr);
}

.grid {
    box-sizing: border-box;
    border: 2px solid palegoldenrod;
    width: 25vh;
    height: 25vh;
}

.preamble {
    height: 25vh;
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    display: flex;
    align-items: baseline;
    gap: 4vh;
}

mark {
    background-color: black;
    color: red;
    font-weight: bold;
}